<!DOCTYPE html>
<html>
<head>
  <title>Change Password</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
  <h2>Change Your Password</h2>
  <form method="POST">
    <input type="hidden" name="csrf_token" value="{{ token }}">
   <input type="password" name="password_new" placeholder="New password">
    <input type="password" name="password_conf" placeholder="Confirm password">
    <input type="submit" value="Change Password">

   
  </form>
  <br><a href="/">← Back to Home</a>
</div>

</body>
</html>






 <!--<input type="hidden" name="csrf_token" value="{{ token }}">-->
   